.top-nav {
  background-color: $main-color;
  color: $white;
  font-size: 14px;
  padding: 12px 0;
  .items {
    display: flex;
    gap: 1rem;
    .item {
      color: #fff;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      .icon {
        border: 1px solid white;
        @include circle(22px);
        @include centering;
        i,
        svg {
          height: 12px;
          width: auto;
        }
      }
    }
  }
  .social-items {
    display: flex;
    gap: 0.5rem;
    .item {
      border: 1px solid white;
      @include circle(27px);
      @include centering;
      i,
      svg {
        color: #fff;
        height: 17px;
        width: auto;
      }
    }
  }
}

.bottom-nav {
  background-color: white !important;
  color: $text-color1;
  // padding: 22px 0;
  .logo {
    img {
      width: 187px;
      height: auto;
      @include maxWidth(sm) {
        width: 100px;
      }
    }
  }
  .navbar-nav {
    gap: 48px;
    @include maxWidth(md) {
      gap: 0.5rem;
    }
    .nav-link {
      color: $text-color1 !important;
      font-weight: 500 !important;
      font-size: 16px !important;
      padding: 5px 0 !important;
      border-bottom: 3px solid transparent;
      &.active {
        border-bottom-color: $sec-color;
        color: $main-color !important;
      }
    }
  }
  .btn-nav {
    border-radius: 8px;
    background-color: $sec-color;
    color: $main-color;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    color: #fff;
    padding: 8px 22px;
  }
}
